<!doctype html>
<html>

<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Course Completion Certificate</title>
  <meta name="author" content="MOOC">
</head>

<body>
  <div style="width:600px; height:400px; padding:20px; text-align:center; border: 10px solid #787878">
    <%# <div style="width:550px; height:550px; padding:20px; text-align:center; border: 5px solid #787878"> %>
      <span style="font-size:40px; font-weight:bold">Certificate of Completion</span>
      <br><br>
      <span style="font-size:20px"><i>This is to certify that</i></span>
      <br><br>
      <span style="font-size:25px"><b><%= @student.name %></b></span><br/><br/>
      <span style="font-size:20px"><i>has completed the course</i></span> <br/><br/>
      <span style="font-size:25px">(<%= @course.title %>)</span> <br/><br/>
      <span style="font-size:20px"><i>on</i></span><br> <%= @user_course.completed_at.strftime('%d %b %Y') %>
    <%# </div> %>
  </div>
</body>

</html>